<h2 class="user-detail-title">Détails de l'utilisateur</h2>
<div class="user-detail-container">
  <div class="detail-row">
    <span class="detail-label">ID :</span>
    <span class="detail-value">{{ data.id }}</span>
  </div>
  <div class="detail-row">
    <span class="detail-label">Nom :</span>
    <span class="detail-value">{{ data.lastname }}</span>
  </div>
  <div class="detail-row">
    <span class="detail-label">Prénom :</span>
    <span class="detail-value">{{ data.firstname }}</span>
  </div>
  <div class="detail-row">
    <span class="detail-label">Âge :</span>
    <span class="detail-value">{{ data.age }}</span>
  </div>
  <div *ngIf="data.associations && data.associations.length">
    <h3>Associations :</h3>
    <ul>
      <li *ngFor="let association of data.associations">
        {{ association }} 
      </li>
    </ul>
  </div>
</div>
<!-- <div class="user-detail-actions">
  <button mat-raised-button color="primary" mat-dialog-close>Fermer</button>
</div> -->