<h2 class="dialog-title">Modifier les rôles des membres</h2>
<div class="dialog-container">
  <form *ngIf="roleForm" [formGroup]="roleForm" (ngSubmit)="onSubmit()">
    <!-- Sélection du membre -->
    <mat-form-field class="dialog-row" appearance="fill">
      <mat-label>Membre</mat-label>
      <mat-select formControlName="memberId" (selectionChange)="fetchRole()" required>
        <mat-option *ngFor="let member of members" [value]="member.id">
          {{ member.firstname }} {{ member.lastname }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="roleForm.get('memberId')?.hasError('required')">
        Ce champ est requis.
      </mat-error>
    </mat-form-field>

    <!-- Saisie du rôle -->
    <mat-form-field class="dialog-row" appearance="fill">
      <mat-label>Rôle</mat-label>
      <input matInput formControlName="role" required placeholder="Entrez un rôle" />
      <mat-error *ngIf="roleForm.get('role')?.hasError('required')">
        Veuillez entrer un rôle.
      </mat-error>      
    </mat-form-field>

    <div class="dialog-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="roleForm.invalid">
        Modifier Rôle
      </button>      
    </div>
  </form>
</div>