<div class="dialog-container">
  <div class="dialog-title">
    Ajouter un rôle
  </div>
  <div class="dialog-content">
    <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
      <div class="dialog-row">
        <label for="memberId" class="dialog-label">Membre</label>
        <mat-select formControlName="memberId" required class="dialog-input">
          <mat-option *ngFor="let member of members" [value]="member.id">
            {{ member.firstname }} {{ member.lastname }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && roleForm.get('memberId')?.hasError('required')">
          Veuillez choisir un membre.
        </mat-error>
      </div>

      <div class="dialog-row">
        <label for="role" class="dialog-label">Rôle</label>
        <input
          formControlName="role"
          required
          class="dialog-input"
          placeholder="Entrez un rôle"
          [ngClass]="{ 'invalid-input': submitted && roleForm.get('role')?.invalid }"
        />
        <mat-error *ngIf="submitted && roleForm.get('role')?.hasError('required')">
          Veuillez saisir un rôle.
        </mat-error>
      </div>

      <div class="dialog-actions">
        <!-- Bouton unique pour validation et soumission -->
        <button
          mat-raised-button
          color="primary"
          type="button"
          class="dialog-button"
          (click)="onSubmit()">
          Ajouter le rôle
        </button>
      </div>
    </form>
  </div>
</div>
