.association-detail-container {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 90vh;
}

.association-detail-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.association-detail-members,
.association-detail-minutes {
  margin-top: 20px;
}

.association-detail-members-title,
.association-detail-minutes-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4CAF50;
  margin-bottom: 10px;
}

.member-item,
.minute-item {
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}

.detail-value,
.member-item,
.minute-item {
  word-wrap: break-word; 
  overflow-wrap: break-word;
  word-break: break-word; 
  white-space: pre-wrap; 
}


.no-data-message {
  color: #777;
  font-style: italic;
}

button {
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  width: 70%;
  max-width: 250px;
  margin: 0 auto;
}

button:hover {
  background-color: #45a049;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

button:focus {
  outline: none;
  border: 2px solid #45a049;
}

button:active {
  background-color: #388e3c;
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clickable {
  cursor: pointer;
  color: #4CAF50;
  font-weight: bold;
  text-decoration: underline;
}

.clickable:hover {
  color: #388e3c;
  text-decoration: none;
}

.detail-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}

.detail-label {
  font-weight: 600;
  color: #4CAF50;
  margin-right: 4px;
}

.detail-value {
  font-weight: 400;
  color: #333;
  text-align: left;
}
