<!-- <h2>Détails de l'Association</h2>
<p><strong>Nom :</strong> {{ data.name }}</p>

<h3>Membres</h3>
<ul *ngIf="data.members.length > 0; else noMembers">
  <li *ngFor="let member of data.members">
    {{ member.firstname }} {{ member.lastname }} - {{ member.role }}
  </li>
</ul>
<ng-template #noMembers>
  <p>Aucun membre dans cette association.</p>
</ng-template>

<h3>Minutes</h3>
<ul *ngIf="data.minutes.length > 0; else noMinutes">
  <li *ngFor="let minute of data.minutes">
    <p><strong>Date :</strong> {{ minute.date | date: 'shortDate' }}</p>
    <p><strong>Contenu :</strong> {{ minute.content }}</p>
  </li>
</ul>
<ng-template #noMinutes>
  <p>Aucune minute enregistrée pour cette association.</p>
</ng-template>
 -->

 <div class="association-detail-container">
    <h2 class="association-detail-title">Détails de l'Association</h2>
    
    <div class="detail-row">
      <span class="detail-label">Nom :</span>
      <span class="detail-value">{{ data.name }}</span>
    </div>
  
    <div class="association-detail-members">
      <h3 class="association-detail-members-title">Membres</h3>
      <ul class="association-detail-members-list" *ngIf="data.members.length > 0; else noMembers">
        <li *ngFor="let member of data.members">
          {{ member.firstname }} {{ member.lastname }} - {{ member.role }}
        </li>
      </ul>
      <ng-template #noMembers>
        <p>Aucun membre dans cette association.</p>
      </ng-template>
    </div>
  
    <div class="association-detail-minutes">
      <h3 class="association-detail-minutes-title">Minutes</h3>
      <ul class="association-detail-minutes-list" *ngIf="data.minutes.length > 0; else noMinutes">
        <li *ngFor="let minute of data.minutes">
          <div>
            <p><strong>Date :</strong> {{ minute.date | date: 'shortDate' }}</p>
            <p><strong>Contenu :</strong> {{ minute.content | slice: 0:100 }}...</p>
            <a *ngIf="minute.content.length > 100" (click)="showMinuteDetails(minute.id)" class="clickable" role="button">Voir les détails</a>
          </div>
        </li>
      </ul>
      <ng-template #noMinutes>
        <p>Aucune minute enregistrée pour cette association.</p>
      </ng-template>
    </div>
  </div>

  <!-- Dialog for detailed minute view -->
<div class="minute-details-dialog" *ngIf="selectedMinute">
    <h3>Détails de la Minute</h3>
    <p><strong>Date :</strong> {{ selectedMinute.date | date: 'shortDate' }}</p>
    <p><strong>Contenu :</strong> {{ selectedMinute.content }}</p>
    <h4>Votants</h4>
    <ul>
      <li *ngFor="let voter of selectedMinute.voters">
        {{ voter.firstname }} {{ voter.lastname }} ({{ voter.role }})
      </li>
    </ul>
    <button (click)="closeMinuteDetails()">Fermer</button>
  </div>
  