.associations-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: left;
  }
  
  tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .error-message {
    color: #f44336;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .clickable {
    cursor: pointer;
    color: #4CAF50;
    font-weight: 600;
    text-decoration: underline;
  }


  button {
    background-color: #fff;
    color: #4CAF50;
    font-size: 1rem;
    padding: 8px 15px;
    border: 1px solid #4CAF50;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  button:focus {
    outline: none;
    border: 2px solid #45a049;
  }
  
  button:active {
    background-color: #388e3c;
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  button.mat-raised-button {
    font-size: 1rem;
  }
  
  button.mat-raised-button.color-primary {
    background-color: #fff;
    color: #4CAF50;
    border: 1px solid #4CAF50;
  }
  
  button.mat-raised-button.color-primary:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  button.mat-raised-button.color-warn {
    background-color: #fff;
    color: #f44336;
    border: 1px solid #f44336;
  }
  
  button.mat-raised-button.color-warn:hover {
    background-color: #f44336;
    color: white;
  }
  
  td button {
    margin: 0 5px;
  }

  @media (max-width: 768px) {
    button {
      font-size: 0.9rem;
      padding: 6px 12px;
    }
  }